.create-recipe-page {
  padding: 3rem;
}

.recipe-form {
  display: flex;

  flex-direction: column;

  gap: 1rem;

  max-width: 500px;
}

.recipe-form input,
.recipe-form textarea,
.recipe-form select {
  padding: 1rem;

  border-radius: 10px;

  border: none;
}

.recipe-form textarea {
  min-height: 200px;

  resize: none;
}

.recipe-form button {
  padding: 1rem;

  border: none;

  border-radius: 10px;

  cursor: pointer;
}